/etc/my.cnf.d/server.cnf:server_id=26
[mysql]
default-character-set=utf8

# this is read by the standalone daemon and embedded servers
[server]
# this is only for the mysqld standalone daemon
[mysqld]
datadir=/mysql/data
socket=/mysql/data/mysql.sock
log-error=/var/log/mysqld.log

character-set-server=utf8
collation-server=utf8_general_ci

max_connections=5000
max_user_connections=4500

skip-name-resolve=1
gtid-mode=on
enforce-gtid-consistency=true
wait_timeout=28800
interactive_timeout=28800


long_query_time = 5
slow_query_log=1
slow_query_log_file=/mysql/data/slow.log

innodb_lock_wait_timeout=300


log-bin=/mysql/binlog/mysql-bin
server_id=26
sync_binlog=1
relay-log=relay-log
binlog_checksum=NONE
expire_logs_days=5
binlog_format=row
log_slave_updates=on
binlog_row_image=full
#lower_case_table_names=1

innodb_buffer_pool_size=32G
innodb_buffer_pool_instances=32
innodb_page_cleaners=32
innodb_flush_log_at_trx_commit=1
innodb_log_file_size=500M
innodb_log_files_in_group=2
innodb_log_buffer_size=50M
innodb_flush_method=O_DIRECT
innodb_use_native_aio=1
innodb_io_capacity=2000
innodb_io_capacity_max=5000
innodb_flush_neighbors=0
innodb_read_io_threads=32
innodb_write_io_threads=16
innodb_adaptive_hash_index=0
innodb_fill_factor=80
innodb_numa_interleave=1
innodb_autoinc_lock_mode=2
innodb_spin_wait_delay=3
join_buffer_size=16M
query_cache_limit=4G
tmp_table_size=2G
max_heap_table_size=4G
innodb_thread_concurrency=56
bulk_insert_buffer_size=64M
read_buffer_size=64M
sort_buffer_size=64M
max_allowed_packet=256M

thread_cache_size=1024
thread_stack=1048576
table_open_cache=8096
back_log=1024
query_cache_size=512M
query_cache_type=1 
sql_mode='NO_ENGINE_SUBSTITUTION'

transaction_isolation=READ-COMMITTED

max_allowed_packet=512M

net_read_timeout=60
net_write_timeout=120


event_scheduler=off

super_read_only=ON
read_only=ON

# this is only for embedded 
innodb_print_all_deadlocks=1